button {
  &.button {
    height: 48px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 1em;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
      0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px #0000004d,
      0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    &:hover {
      outline: none;
    }

    &.button-primary {
      color: #f9f3f2;
      background-color: #1b2cc1;

      &:hover {
        transition: background-color 0.15s ease-in-out;
        background-color: darken(#1b2cc1, 10%);
      }
    }

    &.button-secondary {
      color: #f9f3f2;
      background-color: #221f60;
      &:hover {
        transition: background-color 0.15s ease-in-out;
        background-color: darken(#221f60, 10%);
      }
    }
  }
}
