#navigation {
  width: 100%;
  position: absolute;
  height: 70px;
  z-index: 1337;
  top: 0;
  left: 0;
  right: 0;
  background-color:rgba(19, 54, 106, .8);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 21px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 21px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 21px -10px rgba(0, 0, 0, 0.5);

  ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1em;
    margin: 70px 0 0 0;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    background-color:rgba(19, 54, 106, 1);

    li {
      margin-left: 0;
      margin-bottom: 1em;
      text-align: left;
      cursor: pointer;
      a {
        color: #fff;
        text-decoration: none;
        &:focus,
        &:active,
        &:visited {
          color: #fff;
        }

        &:hover {
          //font-weight: 500;
        }
      }
      &.highlight {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1em;
        padding-left: .6em;
        border-radius: 5px;
        color: #f9f3f2;
        background-color: #13c4a3;
        cursor: pointer;
        -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
          0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
          0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

        &:before {
          // content: "";
          // background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='none' viewBox='0 0 24 24' stroke='currentColor'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 4v16m8-8H4'/%3e%3c/svg%3e");          display: block;
          // width: 20px;
          // height: 20px;
          // background-size: contain;
        }
        &:hover {
          transition: background-color 0.15s ease-in-out;
          background-color: darken(#13c4a3, 10%);
        }
        svg {
          width: 20px;
          height: 20px;
          padding-top: 2px;
          margin-right: 5px;
        }
      }
    }

    @media(min-width: $breakpoint-md) {
      display: flex !important;
      align-items: center;
      margin: 0;
      height: 100%;
      position: relative;
      flex-direction: row;
      background-color: transparent;

      li {
        margin-left: 2em;
        margin-bottom: 0;
      }
    }

  }

  #hamburger {
    display: block;
    color: #fff;
    width: 25px;
    height: 25px;

    @media(min-width: $breakpoint-md) {
      display: none;
    }
  }
}
