#sidebar {
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 420;
  background: #f9f3f2;
  box-sizing: border-box;
  overflow: hidden;
  // padding: 1em;

  @media (min-width: $breakpoint-md) {
    width: 30%;
  }
  .close {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1337;
    cursor: pointer;
  }

  #sidebar-content {
    width: 100%;

    form {
      padding: 1em;
      padding-top: 112px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-flow: wrap;

      @media (min-width: $breakpoint-md) {
        padding-top: 100px;
      }

      h1 {
        font-size: 30px;
        margin: 0;
        margin-bottom: 0.5em;
        @media (min-width: $breakpoint-md) {
          font-size: 50px;
        }
      }
      h1,
      input {
        z-index: 1337;
      }

      input {
        background: lighten(#f9f3f2, 10%);
        border: 2px solid darken(#f9f3f2, 10%);
        margin-bottom: 1em;
        height: 48px;
        padding-left: 1em;
        font-size: 18px;
        font-weight: 400;
        border-radius: 7px;

        &[name="title"],
        &[name="email"],
        &[name="password"],
        &[name="paypal"] {
          width: 100%;
        }
      }

      textarea {
        width: 95%;
        resize: none;
        background: lighten(#f9f3f2, 10%);
        border: 2px solid darken(#f9f3f2, 10%);
        margin-bottom: 1em;
        height: 150px;
        font-size: 18px;
      }

      &:before {
        content: "";
        z-index: -1;
        position: absolute;
        height: 200px;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        background-color: #f9f3f2;
      }

      &#tickets {
        .tickets {
          flex: 0 0 100%;
          ul {
            list-style-type: none;

            li {
              font-size: 25px;

              .status,
              .creator {
                font-size: 14px;
                font-weight: 600;
                padding: 7px 0;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #666;
                margin-right: 1em;
                &.status {
                  &:before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    margin-right: 5px;
                    background: green;
                    display: inline-block;
                  }
                  &.open {
                    &:before {
                      background: green;
                    }
                  }
                  &.IN_PROGRESS {
                    &:before {
                      background: orange;
                    }
                  }
                  &.FINISHED {
                    &:before {
                      background: #333;
                    }
                  }
                }
              }      
            }
          }
        }
      }

      &#registration {
        &:before {
          background-image: url("../assets/registration.svg");
          background-repeat: no-repeat;
          background-size: 140px;
          background-position: right 0.5em top 47px;
          @media (min-width: $breakpoint-md) {
            background-size: 170px;
          }
        }
      }

      &#login {
        &:before {
          background-image: url("../assets/login.svg");
          background-repeat: no-repeat;
          background-size: 140px;
          background-position: right 1em top 47px;
          @media (min-width: $breakpoint-md) {
            background-size: 190px;
          }
        }
      }
      &#create-ticket {
        &:before {
          background-image: url("../assets/ticket.svg");
          background-repeat: no-repeat;
          background-size: 140px;
          background-position: right 1em top 47px;
          @media (min-width: $breakpoint-md) {
            background-size: 170px;
          }
        }
      }

      &#create-ticket,
      &#registration {
        input {
          &[name="firstName"],
          &[name="address.street"],
          &[name="address.postalCode"] {
            margin-right: 12px;
          }
        }
      }

      &#ticket {
        padding-top: 170px;
        padding-left: 2em;

        h1 {
          flex: 0 0 100%;
        }

        &:before {
          background-image: url("../assets/show-listing.svg");
          background-repeat: no-repeat;
          background-size: 140px;
          background-position: right 2em top 47px;
          @media (min-width: $breakpoint-md) {
            background-size: 190px;
          }
        }

        .description {
          flex: 0 0 100%;

          ul {
            padding: 0;
            margin-top: 1em;
            list-style-type: none;
          }
        }

        .status,
        .creator {
          font-size: 14px;
          font-weight: 600;
          padding: 7px 0;
          display: flex;
          align-items: center;
          text-transform: uppercase;
          color: #666;
          margin-right: 1em;
          &.status {
            &:before {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 5px;
              margin-right: 5px;
              background: green;
              display: inline-block;
            }
            &.open {
              &:before {
                background: green;
              }
            }
            &.IN_PROGRESS {
              &:before {
                background: orange;
              }
            }
            &.FINISHED {
              &:before {
                background: #333;
              }
            }
          }
        }
        button {
          &.IN_PROGRESS {
            background: #c189af;
          }
          &.FINISHED {
            background: #333;
          }
        }
      }
    }
  }
}
